/* Taille absolue en pixels */
.absolute-size {
    font-size: 20px;
}

/* Taille relative en pourcentage */
.relative-size-percentage {
    font-size: 150%;
}

/* Taille relative en em */
.relative-size-em {
    font-size: 1.5em;
}

/* Taille relative en rem */
.relative-size-rem {
    font-size: 1.5rem;
}
